<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Welcome! Pop app!</h1>
		<p>Pop app is spring4.x and angularjs sample project</p>
		<p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn
				more &raquo;</a>
		</p>
	</div>
</div>

<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>spring 4.x</h2>
			<p>spring 4.x 에 대해 공부해보자. 매우 잼슴니다.</p>
			<p>
				<a class="btn btn-default" href="#" role="button">View details
					&raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>angularjs</h2>
			<p>요새 가장 핫한 자바스크릅트 프레임 워크!!!따단!</p>
			<p>
				<a class="btn btn-default" href="#" role="button">View details
					&raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>기타 재미있는 것들</h2>
			<p>다해볼 거임. 가자고 어서~!</p>
			<p>
				<a class="btn btn-default" href="#" role="button">View details
					&raquo;</a>
			</p>
		</div>
	</div>

	<hr>
</div>
<!-- /container -->